%template{'x-for': "device in devices"}
  %tr.divide-x.divide-slate-300.dark:divide-slate-700
    %td.p-1{'x-text': "device.location"}
    %td.p-1{'x-text': "device.did"}
    %td.p-1{'x-text': "device.iccid"}
    %td.p-1{'x-text': "device.msisdn"}
    %td.p-1{'x-text': "device.con"}
    %td.p-1{'x-text': "device.lcd"}
    %td.p-1{'x-text': "device.usage"}
